body {
	text-align: center;
}

#demoCorner {
	margin: 0;
	position: absolute;
	z-index: 200;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 200px 0 0;
	border-color: rgba(31, 26, 53, 0.5) transparent transparent transparent;

}

#demoText {
	position: absolute;
	margin: 1em 0 0 1em;
	font-family: 'Ubuntu', 'Arial';
	color: white;
	z-index: 300;
}

#demoText a {
	text-decoration: none;
	font-family: 'Ubuntu', 'Arial';
	color: white;
	text-decoration: underline;
}

.logo {
	height: 300px;
	width: 100%;
	text-align: center;
}

.circle {
	display: inline-block;
	width: 6em;
	height: 6em;
	border-radius: 100%;
	background-color: rgb(252, 0, 211);
	margin-top: 2em;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
}

.input {
	line-height: 3em;
	border-radius: 1em;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	padding-left: 1em;
	border: 2px groove;
	margin-bottom: 1em;
}

.center {
	width: 100%;
	text-align: center;
	div-align
}

.newitem {
	display: block;
	line-height: 2.8em;
	border-right: 1em;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	border: 2px groove;
	border-radius: 1em;
	width: 500px;
	text-align: center;
	margin-top: .75em;
	margin-right: auto;
	margin-left: auto;
}

.crossout {
	background-image: url("images/x.png");
	display: inline-block;
	float: left;
	height: 30px;
	width: 50px;
	margin: .25em 0 .25em 0;
	background-repeat: no-repeat;
	background-size: 100%;
	vertical-align: middle;
}

.trash {
	background-image: url("images/trash.png");
	display: inline-block;
	float: right;
	height: 30px;
	width: 50px;
	margin: .15em 0 .25em 0;
	background-repeat: no-repeat;
	background-size: 100%;
	vertical-align: middle;
}

.xitem {
	opacity: .5;
	text-decoration: line-through;
}


